.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
}
.container {
    margin-top: 800px; /* Ajustez cette valeur selon vos besoins */
}
.img-fluid {
    max-height: 150px;
    object-fit: cover;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition:
        background-color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.gradient-btn {
    background: linear-gradient(45deg, #f06, #ff9);
    border: none;
    color: white;
    transition: background 0.3s ease;
}

.gradient-btn:hover {
    background: linear-gradient(45deg, #ff9, #f06);
}

.gradient-btn-1 {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    border: none;
    color: white;
    transition: background 0.3s ease;
}

.gradient-btn-1:hover {
    background: linear-gradient(45deg, #0072ff, #00c6ff);
}

.gradient-btn-2 {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    border: none;
    color: white;
    transition: background 0.3s ease;
}

.gradient-btn-2:hover {
    background: linear-gradient(45deg, #feb47b, #ff7e5f);
}

.gradient-btn-3 {
    background: linear-gradient(45deg, #4caf50, #8bc34a);
    border: none;
    color: white;
    transition: background 0.3s ease;
}

.gradient-btn-3:hover {
    background: linear-gradient(45deg, #8bc34a, #4caf50);
}
