<div class="container text-center my-5">
    <h1>Bienvenue sur jocK'Art</h1>
    <p class="lead">Découvrez l'art génératif avec p5.js</p>
    <img src="assets/images/banner.png" class="img-fluid" alt="Art génératif" />
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-3 text-center d-flex align-items-stretch">
            <div class="card">
                <img
                    src="assets/images/artHome.png"
                    class="card-img-top"
                    alt="Tutos"
                />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Tutos</h5>
                    <p class="card-text">
                        Apprenez l'art génératif avec nos tutoriels détaillés,
                        adaptés à tous les niveaux.
                    </p>
                    <a
                        routerLink="/tutos"
                        class="btn btn-primary mt-auto gradient-btn-3"
                        >Commencer</a
                    >
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center d-flex align-items-stretch">
            <div class="card">
                <img
                    src="assets/images/img_tuto02_3.png"
                    class="card-img-top"
                    alt="Galerie"
                />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Galerie</h5>
                    <p class="card-text">
                        Explorez les créations génératives de notre communauté
                        et partagez les vôtres.
                    </p>

                    <a
                        routerLink="/galerie"
                        class="btn btn-primary mt-auto gradient-btn-2"
                        >Voir la galerie</a
                    >
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center d-flex align-items-stretch">
            <div class="card">
                <img
                    src="assets/images/img_tuto06_3.png"
                    class="card-img-top"
                    alt="About"
                />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">À propos</h5>
                    <p class="card-text">
                        Découvrez l'histoire et les principes de l'art génératif
                        et l'utilisation de p5.js.
                    </p>

                    <a
                        routerLink="/about"
                        class="btn btn-primary mt-auto gradient-btn-1"
                        >En savoir plus</a
                    >
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center d-flex align-items-stretch">
            <div class="card">
                <img
                    src="assets/images/img_tuto06_4.png"
                    class="card-img-top"
                    alt="Ressources"
                />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Ressources</h5>
                    <p class="card-text">
                        Accédez à des ressources supplémentaires pour
                        approfondir vos connaissances et compétences.
                    </p>

                    <a
                        routerLink="/ressources"
                        class="btn btn-primary mt-auto gradient-btn"
                        >Explorer</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center my-5">
    <img src="assets/images/banner.png" class="img-fluid" alt="Art génératif" />
</div>
